#{extends 'main.html' /}
#{set title:'Edit Personal Details' /}

#{menu id:"personaldetails"/}

<div class="ui placeholder segment">
    <div class="ui one column very relaxed stackable grid">
        <div class="column">
            <form class="ui form" action="/personaldetails/updateDetails" method="POST">
                    <div class="field">
                        <label>Enter New Email address</label>
                        <input type="text" name="email" placeholder="New email address">
                    </div>
                    <div class="field">
                        <label>Enter New Password</label>
                        <input type="password" name="password" placeholder="New Password">
                    </div>
                    <div class="ui submit button">Submit New User Details</div>
            </form>
        </div>
    </div>
</div>